@page "/"
@attribute [Authorize]

@using Chinook.Models
@using Chinook.Services
@using Microsoft.EntityFrameworkCore

<PageTitle>Index</PageTitle>

<h1>Artists</h1>

<div class="form-group">
    <input type="text" class="form-control" @bind="searchTerm" placeholder="Search by artist name" />
</div>

@if (Artists == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of albums</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in FilteredArtists)
            {
                <tr>
                    <td><a href="Artist/@artist.ArtistId">@artist.Name</a></td>
                    <td>@artist.Albums.Count()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Artist> Artists;
    private string searchTerm = "";
    [Inject] IHomeService homeService { get; set; }

    protected override async Task OnInitializedAsync() {
        await InvokeAsync(StateHasChanged);
        Artists = await homeService.GetArtistsAsync();
    }

    private List<Artist> FilteredArtists =>
        string.IsNullOrWhiteSpace(searchTerm) ? Artists : Artists.Where(a => a.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
}
